 @import url("/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer components{
    .textFild_input{
        @apply w-full py-3 px-4 rounded-xl text-gray-700 
            border border-gray-300 
            hover:border-gray-800 
             focus:border-gray-300
             focus:bg-white transition-all duration-300 ease-in-out
             focus:shadow-lg focus:shadow-blue-200
    }
    .buttonFild{
        @apply px-4  py-2 font-bold bg-blue-700 text-white w-full rounded-xl
        focus:shadow-md focus:shadow-blue-200 hover:bg-blue-600 transition-all duration-300 ease-in-out
    }
}

label{
    display: block;
}
html,body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: "Vazir";
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    padding: 0;
    margin: 0;
    
}
